:root {
  --bright-teal: #1AA2B0;
  --background-blue: #151420;
  --blue-hue: #1e1d2d;
}

html,
body {
  margin: auto 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-blue);
}
