/* 'No Product Data' Styles */
.noProduct {
  color: var(--bright-teal);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: auto 0;
  margin-top: 219px;
}

/* Dropdown Menu Styles*/
.dropdownBtn {
  margin-top: 285px;
  background: var(--blue-hue); 
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid var(--bright-teal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 26px;
  border-radius: 0.5em;
  color: var(--bright-teal);
  width: 600px;
  height: 60px;
}

.arrow {
  background-image: url(../../public/dropArrow.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  padding-right: 10px;
}

.dropdownContent {
  list-style: none;
  height: 462px;
  border-radius: 6px;
  border: 1px solid var(--bright-teal);
  background: var(--blue-hue);
  overflow: auto;
  padding: 26px 0px;
}

.dropdownContent li {
  color: var(--bright-teal);;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  text-decoration: none;
  padding-left: 26px;
} 

.dropdownContent li:hover {
  background: var(--background-blue);
  cursor: pointer;
}

/* Product Data Styles */
.productDataContainer {
  margin-top: 158px;
  display: flex;
  height: 151px;
}


.productThumbnail {
  border-radius: 10px;
  border: 1px solid var(--bright-teal);;
  flex-shrink: 0;
}

.productTextContainer {
  
}

.titleCategoryContainer {

}

.productTitle {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.categoryContainer {
  width: 80px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 64px;
  background: var(--bright-teal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCategory {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  text-align: center;
}



.productBrand {
  color: var(--bright-teal);;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  line-height: 40px;
}

.productPrice {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
}

.productDescription {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  display: flex;
}

/* Media Queries */
@media only screen and (max-width:600px) {
  .dropdownBtn {
    width: 100vw;
    margin-top: 125px;
  }

  .productDataContainer {
    display: block;
    margin-top: 75px;
  }

  .productThumbnail {
    margin: auto;
  }

  .titleCategoryContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
  }
  
  .brandPriceContainer {
    display: flex;
    justify-content: center;
  }

  .productBrand {
    justify-content: center;
    order: 1;
  }

  .productDescription {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px 30px;
  }
}
  