.main {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.noProduct {
  color: #1AA2B0;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown {
  display: block;
  margin: auto;
  top: 285px;
  color: #1AA2B0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 6px;
  border: 1px solid var(--bright-teal);
  background: #1E1D2D;
  width: 600px;
  height: 60px;
}

.productCard {
  display: flex;

}

.productThumbnail {
  border-radius: 10px;
  border: 1px solid #1AA2B0;
  /* position: fixed;
  top: 501px;
  left: 383px; */
}

.productTitle {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 46px; /* 255.556% */
  /* position: fixed;
  top: 501px;
  left: 699px; */
}

.categoryContainer {
  width: 80px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 64px;
  background: #1AA2B0;
  /* position: fixed;
  top: 517px;
  left: 903px; */
}

.productCategory {
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px; /* 0% */
  /* position: relative;
  top: 66px;
  left: 912px; */
}

.productDescription {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  /* line-height: 46px; 328.571% */
  /* position: fixed;
  top: 619px;
  left: 699px;
  display: flex; */
}

.productBrand {
  color: #1AA2B0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  /* line-height: 46px; 328.571% */
  /* position: fixed;
  top: 527px;
  left: 699px; */
}

.productPrice {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  padding: 0;
  /* line-height: 0px; 0% */
  /* position: fixed;
  top: 595px;
  left: 699px; */
}