.brightFont {
  color: #1AA2B0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thumbnail {
  border-radius: 10px;
  border: 1px solid #1AA2B0;
}

.productTitle {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 255.556% */ 
}

